html {
  height: 100%;
  width: 50%;
  margin: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
  min-height: 100%;
}
